@CHARSET "UTF-8";
#adminID{
	width:500px;
	height:22px;
	font-family:仿宋;
	margin-left:1325px;
	font-size:18px;
}
.a,.a2
{
	text-decoration:none;
	color:#CCCCCC;
}
.a2:hover{
	 color:#459FCB;
}
.item{
	float:left;
	display:block;
	width:80px;
	height:30px;
	border: none 1px #ddd;
	background-color:#white;
	margin-bottom:5px;
	font-family:仿宋;
	margin-left:5px;
	padding-top:13px;
	font-size:20px;
	text-align:center;
}
.Activityform{
	width:260px;
	font-family:仿宋;
	margin:auto;	
	margin-top:70px;
}
#add{
	text-decoration:none;
	color:#459FCB;	
}
#add:hover{
	color:red;
}
#destory-btn{
	border:none;
	width:100px;
	height:50px;
	background:rgba(255,204,51,0);
	/* color:white; */
	font-family:仿宋;
	font-size: 20px;
	padding-bottom:50px;
	color:red;
}
#destory-btn:hover{
	color:#459FCB;
}


