@CHARSET "UTF-8";
body{
	/* background-color:#CCCCCC; */
	background-repeat:no-repeat;
	background-size:50% 280%;
	background-position:50% 0%;

}
#logo{
	width: 191px;
	height: 92px;
    float: left;
    margin-top: 4px;
    background: url(/WatchWorld/admin/IMG/logo.png.png) no-repeat;
    margin-top:100px;
}
#header{
	height:100px;
	width:190px;
	margin:auto;
	padding:0;
}
#loginform{
    height:250px;
	width:350px;
	margin: 30px auto;
	padding:0;
	font-size:20px;
    font-family:仿宋;
    /* color:white; */
    margin-top:150px;
}
.item{
	border: none 1px #ddd;
	background:rgba(255,204,51,0);
	margin-bottom:30px;
}
.content{
	border: 0 solid;
    width: 280px;
    margin:0;
    font-size: 14px;
    height: 19px;
    outline: 0;
    height:26px;
    /* color:white; */
    background:rgba(255,204,51,0.1);
    /* background-color:white; */
}
#btn-login{
	border:none;
	width:100px;
	height:50px;
	background:rgba(255,204,51,0);
	/* color:white; */
	font-family:仿宋;
	font-size: 20px;
}
#loginbtn{
	margin-left: 270px;
}
