@CHARSET "UTF-8";
#logo{
	width: 191px;
	height: 92px;
    float: left;
    margin-top: 4px;
    background: url(/WatchWorld/admin/IMG/logo.png.png) no-repeat;
    margin-top:100px;
}
#header{
	height:100px;
	width:190px;
	margin:auto;
	padding:0;
}
#adminID{
	width:500px;
	height:22px;
	font-family:仿宋;
	margin-left:1325px;
	font-size:18px;
}
.a,.a2
{
	text-decoration:none;
	color:#CCCCCC;
}
#modify{
    height:250px;
	width:370px;
	margin: 30px auto;
	padding:0;
	font-size:20px;
    font-family:仿宋;
    margin-top:150px;
}
.item{
	border: none 1px #ddd;
	background:rgba(255,204,51,0);
	margin-bottom:10px;
	margin-top:30px
}
.content{
	border: 0 solid;
    width: 280px;
    margin:0;
    font-size: 14px;
    height: 19px;
    outline: 0;
    height:26px;
    background:rgba(255,204,51,0.1);
}
#btn-modify{
	border:none;
	width:100px;
	height:50px;
	background:rgba(255,204,51,0);
	/* color:white; */
	font-family:仿宋;
	font-size: 20px;
}
.btn{
	margin-left: 300px;
}
#btn-modify,.a2:hover{
	 color:#459FCB;
}