@CHARSET "UTF-8";
#logo{
	width: 191px;
	height: 92px;
    float: left;
    margin-top: 4px;
    background: url(/WatchWorld/admin/IMG/logo.png.png) no-repeat;
    margin-top:100px;
}
#header{
	height:100px;
	width:190px;
	margin:auto;
	padding:0;
}
#adminID{
	width:500px;
	height:22px;
	font-family:仿宋;
	margin-left:1325px;
	font-size:18px;
}
.a,.a2
{
	text-decoration:none;
	color:#CCCCCC;
}
#regform{
    height:250px;
	width:700px;
	margin: 30px auto;
	padding-left:350px;
	font-size:20px;
    font-family:仿宋;
    /* color:white; */
    margin-top:150px;
}
.item{
	border: none 1px #ddd;
	background:rgba(255,204,51,0);
	margin-bottom:30px;
}
.content{
	border: 0 solid;
    width: 280px;
    margin:0;
    font-size: 14px;
    height: 19px;
    outline: 0;
    height:26px;
    /* color:white; */
    background:rgba(255,204,51,0.1);
    /* background-color:white; */
}
#btn-reg{
	border:none;
	width:100px;
	height:50px;
	background:rgba(255,204,51,0);
	/* color:white; */
	font-family:仿宋;
	font-size: 20px;
}
.btn{
	margin-left: 270px;
}
.tips{
	color:red;
}
#long{
	 height:25px;
	 width:600px;
	 margin-left: -60px;
}
#btn-reg,.a2:hover{
	 color:#459FCB;
}
