@CHARSET "UTF-8";
body
{
	padding: 0px;
	margin: 0px;
	background-color: #FAFAFA;
}

#title
{
	font-size: 26px;
	line-height: 40px;
	margin: 10px auto 10px 10px;
}

#itemContainer
{
	position: relative;
	top: 60px;
	width: 100%;
	height: auto;
	min-height: 300px;
}

.label
{
	text-align: right;
	width: 130px;
	float: left;
}

.dataItem
{
	width: 630px;
	height: auto;
	min-height: 40px;
	margin: 10px auto 0px auto;
	padding: 0px;
}

.dataItem input
{
	float: left;
	margin: 0px;
	width: 500px;
}

.label, .dataItem input
{
	margin: 0px 0px 3px 0px;
	font-size: 18px;
}

#btnContainer
{
	width: 300px;
	margin: 10px auto;
}

#saveBtn
{
	width: 280px;
	height: 60px;
	font-size: 30px;
	background-color: #69B946;
	border: 0px;
	color: #FFFFFF;
	margin: 5px auto 5px auto;
}