@CHARSET "UTF-8";
body
{
	padding: 0px;
	margin: 0px;
	background-color: #FAFAFA;
}

#logo
{
	position: absolute;
}

#mainContainer
{
	width: 100%;
	height: auto;
	min-height: 600px;
	margin: 20px auto 20px auto;
	padding: 0px;
	border-radius: 10px;
}

#mainContainer h1
{
	text-align: center;
	margin: 0px;
}

#mainContainer h1, #mainContainer hr
{
	position: relative;
	top: 50px;
}

#itemContainer
{
	position: relative;
	top: 60px;
	width: 100%;
	height: auto;
	min-height: 300px;
}

.dataItem
{
	width: 350px;
	height: auto;
	min-height: 40px;
	margin: 10px auto 0px auto;
	padding: 0px;
}

.dataItem .label
{
	text-align: right;
	width: 100px;
	float: left;
}

.dataItem input
{
	float: left;
	margin: 0px;
	width: 250px;
}

.dataItem .label, .dataItem input
{
	margin: 0px 0px 3px 0px;
	font-size: 18px;
}

.dataItem .errorLab
{
	position: relative;
	left: 100px;
	color: #DD2727;
	font-size: 14px;
	margin: 0px;
}

#btnContainer
{
	width: 300px;
	margin: 10px auto;
}

#regBtn
{
	width: 280px;
	height: 60px;
	font-size: 30px;
	background-color: #69B946;
	border: 0px;
	color: #FFFFFF;
	margin: 5px auto 5px auto;
}
