@CHARSET "UTF-8";
body
{
	margin: 0px;
	padding: 0px;
}

#logoSearcherContainer
{
	margin: 0px;
	height: 100px;
}

#logoContainer, #logoContainer img
{
	padding: 0px;
	width: 191px;
	height: 92px;
	float: left;
}

#searcherContainer
{
	width: auto;
	float: left;
	height: 92px;
}

#searcher
{
	position: relative;
	top: 50%;
	margin-top: -20px;
	left: 230px;
}

#searcher form
{
	margin-bottom: 0px;
}

#searcher #inputBox
{
	width: 400px;
	border: 2px solid #FF0000;
}

#submitBtn
{
	background-color: #FF0000;
	color: #FFFFFF;
	border: 0px;
	width: 150px;
	margin-left: 0px;
	cursor: pointer;
	font-weight: bold;
}

#inputBox, #submitBtn
{
	font-size: 20px;
	height: 40px;
	margin: 0px;
}

#optionContainer
{
	margin-top: 20px;
	height: 31px;
	background-color: #E8313E;	
}

#resultContainer
{
	height: 600px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 0px;
}

#resultContainer p
{
	text-align: center;
}

#optionContainer, #resultContainer
{
	width: 1050px;
	margin-left: auto;
	margin-right: auto;
}

#optionContainer p
{
	float: left;
	font-size: 18px;
	line-height: 31px;
	margin: 0px 3px 0px 5px;
}

#optionContainer input
{
	float: left;
	width: 120px;
	margin: 0px;
	font-size: 18px;
}

.goods
{
	float: left;
	margin: 5px;
	width: 200px;
	height: 290px;
}

.goods img
{
	width: 190px;
	height: 210px;
	margin: 5px auto 5px auto;
}

.goodsNameContainer
{
	width：100%;
	height: 50px;
}

.goods .goodName
{
	font-size: 14px;
	text-align: center;
	margin: 0px;
}

.goods .goodPrice
{
	font-size: 16px;
	color: #FF0000;
	text-align: center;
	margin: 0px;
}

#pageIndexContainer
{
	margin: 0px auto;
	width: 340px;
	height: 30px;
	padding: 0px;
}

#pageIndexLine
{
	margin: 10px auto 10px auto;
	padding: 0px;
	height: 30px;
}

#pageIndexContainer input, #pageNum
{
	float: left;
	height: 30px;
}

#pageNum
{
	width: 60px;
	margin: 0px;
}

#pageNum p
{
	line-height: 30px;
	text-align: center;
	margin: 0px;
}

#pageIndexContainer input
{
	width: 70px;
}

#footer
{
	width: auto;
	height: 30px;
	background-color: #F2F2F2;
	margin: 0px;
	text-align: center;
	color: #646464;
	font-size: 14px;
	line-height: 30px;
}