@CHARSET "UTF-8";

#div_findgoods {
    float: left;
    margin-left: 60px;
    height: 30px;
    width:100%;
}

a:link,a:visited{
	text-decoration: none;
	color: #646464;
}
 a:hover,a:active
{
	color: #DD2727;
}
.tittle{

    font-size: 26px;
    line-height: 40px;
    margin: 10px auto 10px 10px;
}
hr{
	width: 75%;
	float: left;
	margin-left: 55px;
}

.itemContainer {
    position: relative;
    top: 40px;
    width: 100%;
    height: auto;
    min-height: 300px;
}
.data{
	
width: 350px;
height: auto;
margin-left: 250px;
padding: 0px;
}
label {
    text-align: right;
    width: 100px;
    float: left;
    margin-right: 10px;
}

.form-item {
    margin-top: 20px;
}
.tip{
    text-align: center;
}
#addButn{
	color: #fff;
	background: #ee6a22;
	border: 0;
	font-size: 16px;
	width: 30%;
}